@import '../../index.css';

.activity_card {
  padding-top: 45px;
  border-radius: 15px 15px 16px 16px;
  max-width: 255px;
  width: 100%;

  .card {
    background: var(--dark_blue);
    padding-top: 29px;
    padding-inline: 30px;
    padding-bottom: 32px;
    border-radius: 15px;
    &:hover {
      cursor: pointer;
      background-color: var(--hover_blue);
    }
    .activity_bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
      .dots {
        &:hover {
          cursor: pointer;
          path {
            fill: var(--white);
          }
        }
      }
      .activity {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: var(--white);
      }
    }

    .hours {
      font-weight: 300;
      font-size: 56px;
      line-height: 66px;
      color: var(--white);
      margin-bottom: 8px;
    }
    .last {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: var(--pale_blue);
    }
  }
}
