@import '../../index.css';

section {
  background: var(--dark_blue);
  border-radius: 15px;
  max-width: 255px;
  .about {
    background-color: var(--blue);
    padding-top: 37px;
    padding-left: 32px;
    padding-bottom: 80px;
    border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 26px;
    .profile_img {
      width: 84px;
      height: 84px;
      border: 3px solid var(--white);
      border-radius: 50%;
      margin-bottom: 40px;
      margin-left: -3px;
      margin-top: -3px;
    }
  }
  .report {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--pale_blue);
    margin-bottom: 3px;
  }
  .name {
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: var(--white);
  }
  .list {
    background: var(--dark_blue);
    border-radius: 15px;
    padding-left: 32px;
    padding-bottom: 32px;
    :not(:last-child) {
      margin-bottom: 21px;
    }
    .period {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: var(--desaturated_blue);
      list-style-type: none;
      &:hover {
        cursor: pointer;
        color: var(--white);
      }
    }
  }
}
